doctype html
html(lang="en")
  head
    title= pageTitle
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u',  crossorigin='anonymous')
    link(rel='stylesheet', href='/vendor/bootstrap-tagsinput/src/bootstrap-tagsinput.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js', integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=', crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js', integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa', crossorigin='anonymous')
    script(src='/vendor/bootstrap-tagsinput/src/bootstrap-tagsinput.js')
    script(type='text/javascript').
      $(function(){
        function initializeTagsInput(){
          if ($.fn.tagsinput){
            $('#choices').tagsinput({
              confirmKeys: [13]
            });
          }
          else{
            setTimeout(initializeTagsInput, 100);
          }
        }
        initializeTagsInput();

        $('#submitPoll').click(function(){

          var choices = $('#choices').tagsinput('items');
          var emails = $('#emails').val();
          $.ajax('createpoll',{
            method:'POST',
            data:{choices: choices, emails: emails},
            dataType:'json',
            success:
              function(){
                alert('success');
              },
            error:
              function(){
                alert('failure');
              },
          });
        });
      });

  body
    h1 Better Polling
    h3 Create a list of options below
    div
      input#choices(
        type='text'
      )

    h3 Enter respondent emails below
    div
      input#emails(
        type='text'
        data-role='tagsinput'
      )

    br

    button#submitPoll(
      type='button'
      class='btn btn-primary'
    ).
      Submit